.post-container {
    margin-bottom: 40px;
}

.post-heading {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #F27E7E;
    text-decoration: none;
}

.post-date {
    font-size: 0.85em;
    margin: 0 0 10px 0;
}

.post-excerpt {
    font-size: 1em;
}