.site-title {
    font-size: 3.5rem;
    font-weight: 900;
    font-family: Montserrat, serif;
    color: #F27E7E;
    letter-spacing: -2px;
    margin: 10px 0 10px 0;
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 600px;
}